<section class="content_30 bg-light pt-105 pb-70 text-center">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <h2 class="col-lg-9 small" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">We work with Singapore's best startups</h2>
      <div class="col-lg-8 col-md-10 mt-15 mb-50 f-18 medium op-7 color-heading text-adaptive">
        <span data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">        
        We serve some of the most successful technology companies in southeast Asia, many of whom are venture funded. Winning companies work with us, because no accounting service can help businesses scale like we can.
        </span>       
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="mb-30 col-lg-3 col-md-5 col-sm-6" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
        <div class="d-flex justify-content-center align-items-center block h-160 mw-270 mx-auto radius10">
          <%= image_tag 'logo-synchronous' %>
        </div>
      </div>
      <div class="mb-30 col-lg-3 col-md-5 col-sm-6" data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">
        <div class="d-flex justify-content-center align-items-center block h-160 mw-270 mx-auto radius10">
          <%= image_tag 'logo-notarum' %>
        </div>
      </div>
      <div class="mb-30 col-lg-3 col-md-5 col-sm-6" data-aos-duration="300" data-aos="fade-down" data-aos-delay="300">
        <div class="d-flex justify-content-center align-items-center block h-160 mw-270 mx-auto radius10">
          <%= image_tag 'logo-merklescience' %>
        </div>
      </div>
      <div class="mb-30 col-lg-3 col-md-5 col-sm-6" data-aos-duration="300" data-aos="fade-down" data-aos-delay="450">
        <div class="d-flex justify-content-center align-items-center block h-160 mw-270 mx-auto radius10">
          <%= image_tag 'logo-narus' %>
        </div>
      </div>
      <div class="mb-30 col-lg-3 col-md-5 col-sm-6" data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">
        <div class="d-flex justify-content-center align-items-center block h-160 mw-270 mx-auto radius10">
          <%= image_tag 'logo-interviewerai' %>
        </div>
      </div>
      <div class="mb-30 col-lg-3 col-md-5 col-sm-6" data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">
        <div class="d-flex justify-content-center align-items-center block h-160 mw-270 mx-auto radius10">
          <%= image_tag 'logo-quod' %>
        </div>
      </div>
      <div class="mb-30 col-lg-3 col-md-5 col-sm-6" data-aos-duration="300" data-aos="fade-down" data-aos-delay="300">
        <div class="d-flex justify-content-center align-items-center block h-160 mw-270 mx-auto radius10">
          <%= image_tag 'logo-entropicalabs' %>
        </div>
      </div>
      <div class="mb-30 col-lg-3 col-md-5 col-sm-6" data-aos-duration="300" data-aos="fade-down" data-aos-delay="450">
        <div class="d-flex justify-content-center align-items-center block h-160 mw-270 mx-auto radius10">
          <%= image_tag 'logo-staple' %>
        </div>
      </div>
    </div>
  </div>
</section>