<body>
<header>
  <div class="container mw-970 px-xl-0 text-center text-lg-left">
    <div class="mb-3 logo d-block d-xl-none logo_mobile">Seedbooks</div>
    <div class="row flex-column-reverse flex-lg-row justify-content-lg-between align-items-center">
      <div class="col-lg-6 col-md-7 col-sm-8 pt-18 left">
        <h1 data-aos-duration="300" data-aos="fade-down" data-aos-delay="0">No fuss bookkeeping for startups.</h1>
        <div class="mt-15 f-18 medium color-heading op-7 text-adaptive">
          <span data-aos-duration="300" data-aos="fade-down" data-aos-delay="150">    
            Seedbooks handles your startup's books from start to finish so you can focus on growing your business. 
          </span>         
        </div>
        <span data-aos-duration="300" data-aos="fade-down" data-aos-delay="300"><a href="#" class="mt-50 btn lg action-2">Explore Design</a></span>     </div>
      <div class="col-lg-6 col-md-7 col-sm-8">
        <div class="row justify-content-center">
          <div class="col-6 col-lg-12" data-aos-duration="300" data-aos="fade-down" data-aos-delay="450">
            <%= image_tag "cash-man.svg", class: "img-fluid" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<%= render "pages/about" %>
<%= render "pages/accountant" %>
<%= render "pages/clients" %>
<%= render "pages/features" %>
<%= render "pages/testimonials" %>
<%= render "pages/subscribe" %>

<!-- forms alerts -->
<div class="alert alert-success alert-dismissible alert-form-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Thanks for your message!
</div>
<div class="alert alert-warning alert-dismissible alert-form-check-fields" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Please, fill in required fields.
</div>
<div class="alert alert-danger alert-dismissible alert-form-error" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  An error occurred while sending data :(
</div>
<!-- popup with video -->
<div class="overlay"></div>

<div class="video_popup">
  <a class="close">
    <img srcset="i/close_white@2x.png 2x" src="i/close_white.png" alt="" />
  </a>
  <div class="d-flex align-items-center justify-content-center w-full h-full iframe_container"></div>
</div>

<script src="js/slick.min.js"></script>
<script src="js/aos.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>